name: test full

on:
  workflow_dispatch:

jobs:
  full_test:
    strategy:
      fail-fast: false
      matrix:
        os-version: ['ubuntu-20.04','windows-latest','macos-latest']
        python-version: [ '3.9' ]
        include:
          - os-version: 'ubuntu-21.10'
            python-version: '3.6'
          - os-version: 'ubuntu-21.10'
            python-version: '3.7'
          - os-version: 'ubuntu-21.10'
            python-version: '3.8'           
          - os-version: 'ubuntu-21.10'
            python-version: '3.10'             
    runs-on: ${{ matrix.os-version }}
    name: test package on ${{ matrix.os-version }} with ${{ matrix.python-version }}
    steps:
      #preparation
      - name: checkout
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64           
      - name: install md5sum for macos
        if: ${{ matrix.os-version == 'macos-latest' }} 
        run: |
          brew install md5sha1sum                    
      - name: update pip
        run: |
          python -m pip install --upgrade pip
      #installation          
      - name: install ytdlmusic
        run: |
          pip install .
      #test 1
      - name: Launch minimal test
        uses: ./.github/actions/minimal_test 
      #configuration
      - name: install ffmpeg with token
        uses: FedericoCarboni/setup-ffmpeg@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      #test 2    
      - name: Launch full test
        uses: ./.github/actions/full_test
